<div class="c">
  <div class = "b">
  <div style="background-color: #f2f2f2">
      <p class="title">
          <%= customer.fullname %>
      </p>
    </div>
  <% if customer.image.present?  %>
    <div id="img">
      <%= image_tag(customer.image) %>
    </div>
  <% end  %>

    <footer class="foot" >
     <p> <strong >Phone: </strong>
        <%= customer.phone_number %>
      </p>

      <p>
      <strong>Email: </strong>
        <%= customer.email %>
      </p>
      <p>
      <strong>Notes:</strong>
         <br ><%= customer.notes %>
        </p>
    </footer>
  </div>
</div>

